---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <img src="../pages/jvmnt-dither.jpg" alt="JVMNT monocromo">
    <p> Me llamo Javi y siempre tengo algo nuevo en la cabeza. Escribirlo es mi forma de darle forma. No sé si todo tendrá sentido, pero al menos quedará por escrito. Me interesan muchas cosas: la historia, el diseño, la tecnología, los videojuegos y, en general, todo lo que me haga aprender algo nuevo.</p>
    <p>Este blog empezó como una excusa para trastear con la línea de comandos, aprender  <a href="https://astro.build/" target="_blank" class="text-blue-500 underline">Astro</a> y hacer algo sencillo. No tengo grandes objetivos con él.</p>
    <p>No esperes un hilo conductor ni una temática clara: escribo cuando me apetece y sobre lo que me apetece.</p>

    <h2>Redes</h2>
    <ul>
      <li><a href="https://bsky.app/profile/jvmnt.bsky.social" target="_blank" class="text-blue-500 underline">Bluesky</a></li>
      <li><a href="https://github.com/javimont" target="_blank" class="text-blue-500 underline">GitHub</a></li>
      <li><a href="mailto:jmonterohoyos@gmail.com" target="_blank" class="text-blue-500 underline">Mail</a></li>
      <li>En cualquier otro sitio bajo el nombre de JVMNT/jvmnt</li>
    </ul>

  </main>
</Layout>
