---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      Generalmente no tengo idea de nada, pero es aconsejable ir aprendiendo y como dicen que para aprender lo mejor es enseñar he creado este sitio.
    </p>
    <p>
      Aquí es donde escribo sobre lo que me ronda la cabeza, sin más reglas que las que me apetezca seguir.
    </p>
    <p>
      Si quieres comunicarte conmigo escribe un <a 
        href="mailto:jmonterohoyos@gmail.com"
        target="_blank"
        class="text-blue-500 underline">email</a>
      , o escríbeme en
      <a
        href="https://bsky.app/profile/jvmnt.bsky.social"
        target="_blank"
        class="text-blue-500 underline">Bluesky</a>.
    </p>
   
  </main>
</Layout>
